@import 'variables.scss';

.header-container {
    display: flex;
    height: 125px;
    padding: 10px;
    align-items: center;
    background-color: $light-grey;
}

.logo-container {
    margin-right: auto;
}

.logo {
    width: 50px;
}

.app-title {
    align-items: center;
}

.app-title-text {
    color: $grey;
    font-size: 35px;
    font-weight: bold;
}

.profile-link {
    align-items: center;
    margin-left: auto;
}
